body{
	<--background-image: url("nov8.jpg");
	background-color: #a1cb2f;
	font-size: 24px;
	width: 80%;
	margin-left: 10%;
	border-style: solid;
	<--padding: 50px;
	height: 50%;
	position: relative;
	margin-top: 90px;
	margin-bottom: -35px;
	height: 100%;
}

#table{
	vertical-align: top;
}

#last{
	text-align: right;
}

#links{
	width: 270px;
}

#image{
	float: left;
	height: 250px;
	width: 150px;
	padding: 20px;
	padding-top: 0;
}

#some{
	text-align: center;
}

#date{
	text-align: center; 
}

#google{
	text-align: right;
}

#current{
	text-align: center;
}

.img{
	height: 30px;
	width: 30px;
}

#line{
	border-left: 2px solid black;
	height: 100%;
}

#p{
	padding: 50px;
}

#oo{
	<--position: relative;
	background-image: url("nov20.jpg");
	padding: 50px;
	padding-bottom: 10px;
}
	
.list{
	padding: 10px;
}

#feed{
	float: left;
}

#banner {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #a1cb2f;
background-image: url("nov18.jpg");
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px;
}
 
#banner h1 {
    line-height: 60px;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li {
    float: left;
}

hr{
	height: 1px;
	background-color: black;
}

.some:link, .some:visited{
    display: block;
    width: 220px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.w{
	color: linen;
}

.some:hover, .some:active{
    background-color: #7A991A;
	color: brown;
	<--background-color: darkgreen;
}

#nav{
	margin-left: 90px;
}

.col{
	color: blue;
}

.out{
	border-style: solid;
	border-radius: 8%;
	padding: 4%;
}

 #pointer-event #checkbox {
  height: 256px;
  width: 256px;
  position: relative;
  display: inline-block;
}

#pointer-event {
  font-family: courier new;
  float: left;
}

#pointer-event input[type="checkbox"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#pointer-event #checkbox * {
  position: absolute;
}

#pointer-event #unchecked,
#pointer-event #checked {
  pointer-events: none;
}

#pointer-event #checked {
  opacity: 0;
}

#pointer-event input[type="checkbox"]:checked + #checked {
  opacity: 1;
}

#pointer-event input[type="checkbox"]:checked + #checked + #unchecked {
  opacity: 0;
}

#browser-support {
  background: ivory;
  border-left: 6px skyblue solid;
  font-family: courier new;
  font-size: 14px;
  margin: 12px 0;
  padding: 6px;
}
    </style>

    <script>
  window.console = window.console || function(t) {};
</script>

#three{
	margin-left: 10px;
	margin-top: 10px;
	background-color: green;
}

#red{
	font-weight: bold;
	color: red;
}

.pec{
	float: left;
	padding: 0;
	margin: 0;
	right: 2px;
}

.pe{
	width: 152px;
	height: 152px;
	float: right;
	padding: 15px;
}

.pe1{
	width: 152px;
	height: 152px;
	float: right;
	padding: 15px;
}

.pec1{
	float: left;
}

#txt{
	border-style: solid;
	font-size: 32px;
	border-radius: 5%;
	width: 150px;
	margin-left: 42%;
}









.clearboth {
    margin: 0;
    padding: 0;
    clear: both;
}
 
#nav {
    font-family: verdana;
    font-weight: bold;
    font-size: 12pt;
}
 
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
#nav a:link,
#nav a:visited {
    color: #ffffff;
    text-decoration: none;
}
 
#nav a {
    display: block;
    padding: 6px 8px;
}
 
#nav li {
    float: left;
    background-color: #000000;
    margin-right: 1px;
    position: relative;
}
 
#nav li li{
    width: 160px;
    margin-top: 1px;
}
 
#nav li:hover {
    background-color: #555555;
}
#nav li li:hover {
    background-color: #757575;
}  
 
 
#nav ul ul  {
    position: absolute;
    visibility: hidden;
}
 
#nav ul ul ul{
    position: absolute;
    left: 100%;
    top: -2px;
    border: solid 1px transparent;
}
 
#nav li:hover > ul {
    visibility: visible;
}
 
.right-arrow {
    float: right;
}
