#date{
	text-align: center;
}

#col{
	color: blue;
}

table{
	border-spacing: 10px;
}

.list{
	padding: 10px;
}

#line{
	border-left: 2px solid black;
	height: 100%;
}

.class{
	height: 1px;
	background-color: black;
}

body{
	
	background-color: #a1cb2f;
	font-size: 24px;
	width: 80%;
	margin-left: 10%;
	border-style: solid;
	<--padding: 50px;
	
	
	height: 50%;
	position: relative;
	margin-top: 90px;
	margin-bottom: -35px;
	height: 100%;
}

#p{
	padding: 50px;
}

#last{
	text-align: right;
}


#google{
	text-align: right;
}

#current{
	text-align: center;
}

#image{
	height: 300px;
	width: 100%;
}

#feed{
	float: left;
}

#links{
	width: 270px;
}

#banner {
position: fixed;
height: 90px;
width: 100%;
top: 0;	
left: 0;
border-top: 5px solid #a1cb2f;
<--background-image: url("nov19.jpg");
background-image: url("nov18.jpg");
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px;
}
 
#banner h1 {
    line-height: 60px;
}

.w{
	color: linen;
}

#oo{
	<--position: relative;
	background-image: url("nov20.jpg");
	padding: 50px;
	padding-bottom: 10px;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li {
    float: left;
}

.some:link, .some:visited{
    display: block;
    width: 220px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.some:hover, .some:active{
    background-color: #7A991A;
	color: brown;
	<--background-color: darkgreen;
}

#nav{
	margin-left: 90px;
}

#dev{
	color: blue;
}

#txt{
	border-style: solid;
	font-size: 32px;
	border-radius: 5%;
	width: 150px;
	margin-left: 42%;
}




.clearboth {
    margin: 0;
    padding: 0;
    clear: both;
}
 
#nav {
    font-family: verdana;
    font-weight: bold;
    font-size: 12pt;
}
 
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
#nav a:link,
#nav a:visited {
    color: linen;
    text-decoration: none;
}
 
#nav a {
    display: block;
    padding: 6px 8px;
}
 
#nav li {
    float: left;
    background-color: #000000;
	<--background-color: #a1cb2f;
    margin-right: 1px;
    position: relative;
}
 
#nav li li{
    width: 160px;
    margin-top: 1px;
}
 
#nav li:hover {
    background-color: #555555;
	color: maroon;
}
#nav li li:hover {
    background-color: #757575;
	color: maroon;
}  
 
 
#nav ul ul  {
    position: absolute;
    visibility: hidden;
}
 
#nav ul ul ul{
    position: absolute;
    left: 100%;
    top: -2px;
    border: solid 1px transparent;
}
 
#nav li:hover > ul {
    visibility: visible;
	color: maroon;
}
 
.right-arrow {
    float: right;
}
